<div class="tabs-panel" id="addTruth">
   <div id="editSelectedLight" class="row"></div>
   <div class="row">
      <div class="small-12 medium-6 large-6 column">
         
      </div>
      <div class="small-12 medium-6 large-6 column">
         <div class="row column">Format text for importing</div>
         <div class="row column"><textarea rows="5" id="addTruthText"></textarea></div>
         <div class="row column">Regular Expression to use for importing</div>
         <div class="row column"><input type="text" id="addTruthRegex"/></div>
         <div class="small-12 column"><a href="javascript:void(0)" class="sdw-button reg expand"><i class="icon-wizard"></i> Format</a></div>
      </div>
   </div>
</div>
