@model SeekDeepWithin.Pocos.Light
<div class="callout warning">
   <input type="hidden" id="editLightId" value="@(Model.Id)" />
   <div class="row column text-center"><em style="font-size: 18px;">Edit Light</em></div>
   <div class="row column">
      <textarea id="editLightText" rows="2">@(Model.Text)</textarea>
   </div>
   <div class="row">
      <div class="small-6 column">
         <a href="javascript:void(0);" onclick="SdwEdit.lightSave();" class="sdw-button reg expand tiny">Save Light</a>
      </div>
      <div class="small-6 column">
         <a href="javascript:void(0);" onclick="SdwEdit.lightReIndex();" class="sdw-button reg expand tiny">ReIndex Light</a>
      </div>
   </div>
</div>