@using SeekDeepWithin.Pocos
<div class="tabs-panel is-active" id="editTruth">
   <input type="hidden" id="editTruthId" />
   <div class="row">
      <div class="small-12 medium-6 large-4 column">
         <div class="row column">Type</div>
         <div class="row column">
            <select id="editTruthType">
               @{ var values = Enum.GetValues (typeof (SdwType)).Cast<SdwType> (); }
               @foreach (var value in values) {
                  <option value="@((int)value)">@(value.ToString ())</option>
               }
            </select>
         </div>
         <div class="row column">Order</div>
         <div class="row column">
            <input type="number" id="editTruthOrder" />
         </div>
         <div class="row column">Number</div>
         <div class="row column">
            <input type="number" id="editTruthNumber" />
         </div>
      </div>
      <div class="small-12 medium-6 large-8 column">
         <div class="row column">Text</div>
         <div class="row column">
            <textarea id="editTruthText" rows="4"></textarea>
            <div class="row">
               <div class="small-12 medium-4 large-4 column">
                  <input type="checkbox" checked="checked" id="editTruthAll" /> All
               </div>
               <div class="small-10 medium-6 large-4 column">
                  <a href="javascript:void(0)" onclick="SdwEdit.truthSave();" class="sdw-button reg expand">Save</a>
               </div>
               <div class="small-2 medium-2 large-4 column">
                  <span style="color: green;" id="editTruthOk">OK</span>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>
