@using System.Globalization
@model SeekDeepWithin.Models.GlossaryEntryViewModel

@{
   var id = Model.Id.ToString(CultureInfo.InvariantCulture);
}
@foreach (var header in Model.Headers) {
   <div class="row">
      <div class="small-12 large-12 columns">
         @Html.Partial("_HeaderFooter", header)
      </div>
   </div>
}

<div class="row" id="entry_@id" @if(Model.Footers.Count == 0){ @Html.Raw("style=\"padding-bottom: 0.9375rem\"") }>
   <div class="small-12 large-12 columns">
      @Html.Raw(Model.Render (Request.Url))
   </div>
</div>

@foreach (var footer in Model.Footers) {
   <div class="row">
      <div class="small-12 large-12 columns footer">
         @Html.Partial("_HeaderFooter", footer)
      </div>
   </div>
}
