@model SeekDeepWithin.Models.EditLinkViewModel

<input type="hidden" id="LinkType" name="LinkType" value="@Model.Type" />
<dl class="tabs" data-tab>
   <dd class="active"><a href="#tabGlossary">Glossary</a></dd>
   <dd><a href="#tabRead">Read</a></dd>
   <dd><a href="#tabSearch">Search</a></dd>
   <dd><a href="#tabExternal">External</a></dd>
</dl>
<div class="tabs-content">
   <div id="tabGlossary" class="content active">
      <div class="row">
         <div class="small-12 columns">
            <label for="linkGlossary">Glossary Term</label>
            <input type="text" id="linkGlossary" name="linkGlossary" />
         </div>
      </div>
   </div>
   <div id="tabRead" class="content">
      <div class="row">
         <div class="small-12 large-6 columns">
            <label for="linkBook">Book</label>
            <input type="text" id="linkBook" name="linkBook" />
            <input type="hidden" id="selBookId" name="selBookId" />
         </div>
         <div class="small-12 large-6 columns">
            <label for="linkVersion">Version</label>
            <input type="text" id="linkVersion" name="linkVersion" />
            <input type="hidden" id="selVersionId" name="selVersionId" />
         </div>
      </div>
      <div class="row">
         <div class="small-12 large-6 columns">
            <label for="linkSubBook">Sub Book</label>
            <input type="text" id="linkSubBook" name="linkSubBook" />
            <input type="hidden" id="selSubBookId" name="selSubBookId" />
         </div>
         <div class="small-12 large-6 columns">
            <label for="linkChapter">Chapter</label>
            <input type="text" id="linkChapter" name="linkChapter" />
            <input type="hidden" id="selChapterId" name="selChapterId" />
         </div>
      </div>
   </div>
   <div id="tabSearch" class="content">
      <div class="row">
         <div class="small-12 columns">
            <label for="linkSearch">Search</label>
            <input type="text" id="linkSearch" name="linkSearch" />
         </div>
      </div>
   </div>
   <div id="tabExternal" class="content">
      <div class="row">
         <div class="small-12 columns">
            <label for="linkExternal">Link</label>
            <input type="text" id="linkExternal" name="linkExternal" />
         </div>
      </div>
   </div>
</div>

<hr />

<div class="row">
   <div class="small-12 large-6 columns">
      <label for="linkAnchor">Anchor</label>
      <input type="text" id="linkAnchor" name="linkAnchor" />
   </div>
   <div class="small-12 large-6 columns">
      <label for="linkNewWindow">Open in new window</label>
      <div class="switch">
         <input id="linkNewWindow" name="linkNewWindow" type="checkbox">
         <label for="linkNewWindow">Open in new window</label>
      </div> 
   </div>
</div>

<hr />

<div class="row">
   <div class="small-12 columns text-center">
      <a href="javascript:void(0)" class="button expand" onclick="link_Create();">Create <span id="saveLinkCheck"><i class="icon-ok-circle"></i></span></a>
   </div>
</div>
