<div class="remodal" data-remodal-id="modal">
   <div class="row">
      <div class="small-12 columns">
         <p class="tCenter" id="modal-content-title" style="font-size: larger;font-weight: bold;">Saving Data</p>
         <hr/>
      </div>
   </div>
   <div class="row">
      <div class="small-12 columns">
         <p class="tCenter" id="modal-content-text"></p>
      </div>
   </div>
   <div class="row" id="modal-content-close" style="display: none;">
      <div class="small-6 medium-3 medium-offset-3 large-3 large-offset-3 columns">
         <a class="remodal-confirm sdw-button add expand" href="javascript:void(0);" id="modal-confirm">confirm</a>
      </div>
      <div class="small-6 medium-3 large-3 columns">
         <a class="remodal-cancel sdw-button err expand" href="javascript:void(0);" id="modal-cancel">cancel</a>
      </div>
   </div>
</div>
