
<div id="modal" class="reveal-modal small" data-reveal>
   <div class="row">
      <div class="small-12 column">
         <p class="text-center" id="modalText"></p>
      </div>
   </div>
   <div class="row" id="modalClose">
      <div class="small-6 small-offset-3 column text-center">
         <a href="javascript:void(0)" class="button secondary" onclick="$('#modal').foundation('reveal', 'close');">
            Close
         </a>
      </div>
   </div>
</div>
