@using SeekDeepWithin.Controllers
@model SeekDeepWithin.Models.AuthorViewModel

@{
   ViewBag.Title = Model.Name;
}

<div class="row">
   <div class="small-12 large-8 columns">
      <h3>@Model.Name</h3>
      @if (Request.IsAuthenticated && User.IsInRole ("Editor")) {
         <small>@Html.ActionLink("edit", "Edit", new { id = Model.Id })</small>
      }
      <p>
         @if (!string.IsNullOrEmpty (Model.About)) {
            @Html.Raw(HtmlSanitizer.Sanitize (Model.About))
         } else {
            <em>No information about this writer!</em>
         }
      </p>
   </div>
   <div class="small-12 large-4 columns">
      <h3>Books Written:</h3>
      <ul>
         @foreach (var subBook in Model.Written) {
            <li>
               @Html.ActionLink(subBook.Name == "default" ? subBook.Version.Title : subBook.Name,
                        "Read", "Chapter", new { id = subBook.Version.DefaultReadChapter }, null)
            </li>
         }
      </ul>
   </div>
</div>
