@{
   ViewBag.Title = "New Glossary Item";
   var scheme = Request.Url == null ? string.Empty : Request.Url.Scheme;
}
@section featured {
   <div class="panel">
      <div class="row">
         <div class="small-12 columns">
            <h3>
               New Term!
               <small style="float: right">
                  <a href="@Url.Action("Index", "Glossary", null, scheme)" class="sdw-button reg tiny">
                     <i class="icon-pageback"></i> back to glossary
                  </a>
               </small>
            </h3>
         </div>
      </div>
   </div>
}
@using (Html.BeginForm (null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })){@Html.AntiForgeryToken()}
<div class="sdw-panel">
   <div class="title">Term Details</div>
   <div class="content">
      <div class="row">
         <div class="small-12 columns">
            <label for="termName">Name <small style="color: darkred;">(required)</small></label>
            <input type="text" id="termName" name="termName" />
         </div>
      </div>
      <div class="row">
         <div class="small-12 medium-4 medium-offset-4 large-4 large-offset-4 columns">
            <a href="javascript:void(0)" class="sdw-button expand add" onclick="term_create();">
               <i class="icon-createfile"></i> Create
            </a>
         </div>
      </div>
   </div>
</div>
@Html.Partial("_Modal")
@section Scripts {
   @Scripts.Render("~/bundles/sdw.term")
}
