@model SeekDeepWithin.Models.HeaderFooterViewModel
   
<h3>Edit header for @Model.For</h3>

@Html.Partial("_HFView", Model)

<div class="row">
   <div class="small-12 large-12 columns text-center">
      <a href="#" onclick="header_Edit(@Model.Id);" class="button small">Save Changes</a>
   </div>
</div>

<a class="close-reveal-modal">&#215;</a>