@model SeekDeepWithin.Models.HeaderFooterViewModel

<h3>Edit footer for @Model.For</h3>

@Html.Partial("_HFView", Model)

<div class="row">
   <div class="small-12 large-6 columns text-center">
      <a href="javascript:void(0)" onclick="footer_UpdateIndex();" class="button tiny expand">Update Index</a>
   </div>
</div>

<div class="row">
   <div class="small-6 large-6 columns text-center">
      <a href="javascript:void(0)" onclick="footer_Edit();" class="button small">Save Changes</a>
   </div>
   <div class="small-6 large-6 columns text-center">
      <a href="javascript:void(0)" onclick="footer_Delete();" class="button small alert">Delete</a>
   </div>
</div>

<a class="close-reveal-modal">&#215;</a>
