@{
   ViewBag.Title = "Administration";
}
@section featured {
   <div class="panel">
      <div class="row">
         <div class="small-12 columns">
            <h3>
               Administration
            </h3>
         </div>
      </div>
   </div>
}

<ul>
   <li>
      @Html.ActionLink("Roles", "Index", "Roles")
      <ul>
         <li>@Html.ActionLink("Add Role", "Create", "Roles")</li>
         <li>@Html.ActionLink("Assign Role", "Assign", "Roles")</li>
      </ul>
   </li>
   <li>@Html.ActionLink("Users", "Index", "Users")</li>
</ul>
