@using SeekDeepWithin.Controllers
@model SeekDeepWithin.Models.SubBookViewModel

@{
    ViewBag.Title = "About" + Model.Name;
}

<h3><small>about</small> @Model.Name</h3>

<div class="row">
   <div class="small-12 large-12 columns">
      @if (!string.IsNullOrEmpty (Model.About)) {
         <p>@Html.Raw(HtmlSanitizer.Sanitize(Model.About))</p>
      } else {
         <div class="alert-box info"><em>No information about this book! Sorry!</em></div>
      }
   </div>
</div>
