@model SeekDeepWithin.Pocos.Light
@{ var id = string.Format ("{0}l{1}", ViewBag.IsLink ? "l" : "e", Model.Id); }
<div class="small-12 medium-3 large-3 columns end" id="@(id)">
   <div class="callout secondary small">
      <div class="row column">
         <textarea id="txt@(id)">@(Model.Text)</textarea>
      </div>
      <div class="row">
         <div class="small-6 column">
            <a id="save@(id)" class="sdw-button reg expand tiny" title="Save Light">Save</a>
         </div>
         <div class="small-6 column">
            <a id="remove@(id)" class="sdw-button alt expand tiny" title="Remove from edit">Remove</a>
         </div>
      </div>
   </div>
</div>
