@using SeekDeepWithin.Pocos
<div class="row column mTopBig"><h3>Edit Database</h3></div>
<div class="callout">
   <div class="row column">
      <div class="small-12 medium-8 large-10 column">
         <input type="text" id="editLightSearch" />
      </div>
      <div class="small-6 medium-2 large-1 column">
         <a id="btnAddToEdit" class="sdw-button alt expand tiny">Edit</a>
      </div>
      <div class="small-6 medium-2 large-1 column">
         <a id="btnAddToLink" class="sdw-button alt expand tiny">Link</a>
      </div>
   </div>
   <div id="editLove" class="row column"></div>
</div>
<div class="row">
   <div class="small-4 column"><a id="btnEdit" class="sdw-button white expand small">Edit</a></div>
   <div class="small-4 column"><a id="btnLink" class="sdw-button white expand small">Link</a></div>
   <div class="small-4 column"><a id="btnViewFormat" class="sdw-button white expand small">Format</a></div>
</div>
<div id="formatArea" class="row">
   <div class="small-12 medium-6 large-6 column">
      <div class="row column">Formatted Data<textarea rows="10" id="formattedText"></textarea></div>
      <div class="row column">
         <a id="btnCopy" class="sdw-button reg tiny expand">Copy to Add</a>
      </div>
      <div class="row column">Text<input type="text" id="addTruthAppendText" /></div>
      <div class="row">
         <div class="small-12 medium-6 large-6 column">Order<input type="number" id="addTruthAppendOrder" /></div>
         <div class="small-12 medium-6 large-6 column">Number<input type="number" id="addTruthAppendNumber" /></div>
      </div>
      <div class="row column">
         <div class="callout small text-center warning">
            <em style="font-size:smaller;">
               Headers => Order = 0; Number = The corresponding item.<br />
               Footers => Order = the negative index of the footer; Number = The corresponding item.
            </em>
         </div>
      </div>
      <div class="row">
         <div class="small-12 column"><a id="btnAppendTruth" class="sdw-button reg expand tiny">Append &uArr;</a></div>
      </div>
   </div>
   <div class="small-12 medium-6 large-6 column">
      <div class="row column">Format text for importing<textarea rows="10" id="addTruthFormatText"></textarea></div>
      <div class="row column">Regular Expression to use for importing<input type="text" id="addTruthFormatRegex" /></div>
      <div class="row column">
         Current Regular Expressions
         <select id="addTruthCurrentRegex">
            @foreach (FormatRegex regex in ViewBag.Regexs) {
               <option value="@regex.Id">@(regex.Regex)</option>}
         </select>
      </div>
      <div class="row">
         <div class="small-12 medium-6 large-6 column">Start Order<input type="number" id="addTruthFormatOrder" /></div>
         <div class="small-12 medium-6 large-6 column">Start Number<input type="number" id="addTruthFormatNumber" /></div>
      </div>
      <div class="row column">
         <a id="btnFormat" class="sdw-button reg tiny expand">Format</a>
      </div>
   </div>
</div>
<div id="editArea">
   <div class="row column mTop"><em>Current Truth:</em></div>
   <div class="row column" id="truthArea"></div>
   <div class="row column">Data for importing<textarea rows="5" id="addTruthText"></textarea></div>
   <div class="row column">
      <div class="small-12 medium-6 large-6 column" id="addTruthLinks"></div>
      <div class="small-12 medium-6 large-6 column" id="addVersionLinks"></div>
   </div>
   <div class="row column">
      <a id="btnCreateTruth" class="sdw-button add expand">Add</a>
   </div>
</div>
<div id="linkArea">
   <div class="row column callout" id="linkLove"></div>
   <div class="row" id="linkButtons">
      <div class="small-3 column">
         <a id="btnAddLove" class="sdw-button alt expand">Love as Truth</a>
         <div class="callout small warning">Adds the link lights as a truth to the edit lights.</div>
      </div>
      <div class="small-3 column">
         <a id="btnAddLoveTruth" class="sdw-button alt expand">Love to Truth</a>
         <div class="callout small warning">Adds the link lights to all of the truths of the edit lights.</div>
      </div>
      <div class="small-3 column">
         <a id="btnAddLight" class="sdw-button alt expand">Light as Truth</a>
         <div class="callout small warning">Adds the first light as a truth to the edit lights.</div>
      </div>
      <div class="small-3 column">
         <a id="btnAddLightTruth" class="sdw-button alt expand">Light to Truth</a>
         <div class="callout small warning">Adds the first light to all of the truths of the edit lights.</div>
      </div>
   </div>
   <div class="row column" id="linkTruths"></div>
</div>
@if (User.IsInRole ("Creator")) {
   <div class="callout secondary">
      <div class="row column">New Light</div>
      <div class="row">
         <div class="small-12 medium-9 large-10 column">
            <input type="text" id="txtNewLight" />
         </div>
         <div class="small-12 medium-3 large-2 column">
            <a id="btnCreateLight" class="sdw-button add tiny expand">Create</a>
         </div>
      </div>
   </div>
}
@section scripts  {
   @(Scripts.Render ("~/bundles/sdw/edit"))
}
