@{
    ViewBag.Title = "Search";
}
<h3><i class="icon-search"></i> Search</h3>
@using (Html.BeginForm("Results", "Search")) {
   <fieldset>
      <legend>Search</legend>
      
      <div class="row">
         <div class="small-12 columns"></div>
         @Html.TextBox("searchFor")
      </div>
      <input type="submit" value="Search" class="button" />
   </fieldset>
}
