@{
    ViewBag.Title = "IndexData";
}

<h3>IndexData</h3>

<div class="panel">
   @if (ViewBag.Error != null) {
      <span style="color: darkred;">@ViewBag.Error</span>
   }
   <p>
      Complete!
   </p>
</div>
