@model IEnumerable<SeekDeepWithin.Models.PassageViewModel>

@{
   ViewBag.Title = "Search Results";
}

<h2>Search Results</h2>

<ul>
   @foreach (var result in Model) {
      <li>@result.Text</li>
   }
</ul>
