@charset "UTF-8";
body, h1, h2, h3, h4, h5, h6, a{font-family: 'Roboto', sans-serif;}
body{background-color: #F0ECEB;}
em{font-weight: 300;}
.bold{font-weight: bold;}
.italic{font-style: italic;}
.mTop{margin-top: 1.125rem;}
.mTopSml{margin-top: 0.825rem;}
.mTopBig{margin-top: 5.333rem;}
.pTopBig{padding-top: 5.333rem;}
.mLeft{margin-left: 1.125rem;}
.mRight{margin-right: 1.125rem;}
.mBottom{margin-bottom: 1.125rem;}
.mNone{margin: 0;}
.pTop{padding-top: 1.125rem;}
.pLeft{padding-left: 1.125rem;}
.pRight{padding-right: 1.125rem;}
.pBottom{padding-bottom: 1.125rem;}
.pBottomBig{padding-bottom: 5.333rem;}
.pNone{padding: 0;}
.small-text{font-size: small;}
.smaller-text{font-size: x-small;}
.light-text{font-weight: 300;}
.textCenter{text-align: center;}
.textLeft{text-align: left;}
.error{color:#bf1200;}
a, a:hover, a:visited {color: black;text-decoration: none;}
a:hover{text-decoration: underline;}
h1, h2, h3{color: #3c3c3c;}
.truth > a, .truth > a:visited, .truth > a:hover {color: #00A9DB;text-decoration: underline;}
.loader{top: 0;left: 0;width: 100%;color: white;text-align: center;font-weight: 700;font-size: x-small;background: #78b823;position: fixed;z-index: 9999999999999;}
.top-menu-container{top: 0;left: 0;width: 100%;z-index: 3000;padding: 1rem 0.5rem;background-color: #66A7C5;position: fixed;}
.top-menu-search{margin: 0;font-size: small;padding:4px;height: 75%;margin-top: 0.5rem;}
@media screen and (min-width: 40em){.top-menu-search{margin-top: 0;}}
a.top-menu-item{color: white;vertical-align: middle;margin-left: 0.5rem;}
.love{padding: 0;margin: 0.75rem 0;text-align: center;border:1px solid #F3F3F3;background-color: white;
-moz-border-radius:0.25em;-ms-border-radius:0.25em;border-radius:0.25em;
-ms-box-shadow: 2px 2px 2px #aaa;-o-box-shadow: 2px 2px 2px #aaa;-webkit-box-shadow: 2px 2px 2px #aaa;-moz-box-shadow: 2px 2px 2px #aaa;box-shadow: 2px 2px 2px #aaa;
-webkit-transition: -webkit-box-shadow 0.15s ease-in;-moz-transition: -moz-box-shadow 0.15s ease-in;-o-transition: -o-box-shadow 0.15s ease-in;-ms-transition: box-shadow 0.15s ease-in;transition: box-shadow 0.15s ease-in;}
.love > .content{padding:.5rem;}
.love > .content > .header{font-weight: 500;}
.love > .content > .description{text-align: left;}
.love > .extra.content{border-top: 1px solid #F3F3F3;color: #999999;font-size: smaller;}
.love.link{margin: 0.5rem 1.825rem;}
.love:hover{-ms-box-shadow: 2px 2px 2px #444;-o-box-shadow: 2px 2px 2px #444;-webkit-box-shadow: 2px 2px 2px #444;-moz-box-shadow: 2px 2px 2px #fff;box-shadow: 2px 2px 2px #444;}
.love.selected{border:2px solid #444;}
.edit{padding: 1rem;}
.truth{padding: 1rem;cursor:pointer;}
.truth.selected{cursor:text;}
blockquote{color: black;}
.loveContainer{-webkit-transition:all 0.5s ease-out;-moz-transition:all 0.5s ease-out;-o-transition:all 0.5s ease-out;transition:all 0.5s ease-out}
[type='text'], [type='password'], [type='date'], [type='datetime'], [type='datetime-local'], [type='month'], [type='week'], [type='email'], [type='number'], [type='search'], [type='tel'], [type='time'], [type='url'], [type='color'],
textarea {
  display: block;
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  padding: 0 0.5rem;
  border: 1px solid #cacaca;
  margin: 0;
  font-family: inherit;
  font-size: 1rem;
  color: #0a0a0a;
  background-color: #fefefe;
  box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
  border-radius: 0;
  transition: box-shadow 0.5s, border-color 0.25s ease-in-out;
  -webkit-appearance: none;
  -moz-appearance: none; }
  [type='text']:focus, [type='password']:focus, [type='date']:focus, [type='datetime']:focus, [type='datetime-local']:focus, [type='month']:focus, [type='week']:focus, [type='email']:focus, [type='number']:focus, [type='search']:focus, [type='tel']:focus, [type='time']:focus, [type='url']:focus, [type='color']:focus,
  textarea:focus {
    border: 1px solid #8a8a8a;
    background: #fefefe;
    outline: none;
    box-shadow: 0 0 5px #cacaca;
    transition: box-shadow 0.5s, border-color 0.25s ease-in-out; }

textarea {
  max-width: 100%; }
  textarea[rows] {
    height: auto; }