@model SeekDeepWithin.Models.BookViewModel
@{
   ViewBag.Title = "New Book";
   var scheme = Request.Url == null ? string.Empty : Request.Url.Scheme;
}
@section featured {
   <div class="panel">
      <div class="row">
         <div class="small-12 columns">
            <h3>
               New Book! <small>Woo-hoo, we love adding new books!</small>
               <small style="float: right">
                  <a href="@Url.Action("Index", "Book", null, scheme)" class="sdw-button reg tiny">
                     <i class="icon-pageback"></i> back to books
                  </a>
               </small>
            </h3>
         </div>
      </div>
   </div>
}
@using (Html.BeginForm (null, null, FormMethod.Post, new { id = "__AjaxAntiForgeryForm" })){@Html.AntiForgeryToken()}
<div class="sdw-panel">
   <div class="title">Book Details</div>
   <div class="content">
      <div class="row">
         <div class="small-12 columns">
            <label for="bookTitle">Title <small style="color: darkred;">(required)</small></label>
            <input type="text" id="bookTitle" name="bookTitle" />
         </div>
      </div>
      <div class="row">
         <div class="small-12 columns">
            <label for="termList">Term <small style="color: darkred;">(required)</small></label>
            <input type="text" id="termList" name="termList" />
            <input type="hidden" id="selTermId" name="selTermId" />
         </div>
      </div>
      <div class="row">
         <div class="small-12 columns">
            <label for="bookSubTitle">Sub Title</label>
            <input type="text" id="bookSubTitle" name="bookSubTitle" />
         </div>
      </div>
      <div class="row">
         <div class="small-12 columns">
            <label for="bookSubTitle">Summary <small style="color: darkred;">(required)</small></label>
            <textarea id="bookSummary" name="bookSummary" rows="8"></textarea>
         </div>
      </div>
      <div class="row">
         <div class="small-12 medium-4 medium-offset-4 large-4 large-offset-4 columns">
            <a href="javascript:book_create();" class="sdw-button add expand">
               <i class="icon-createfile"></i> create
            </a>
         </div>
      </div>
   </div>
</div>
@Html.Partial("_Modal")
@section scripts {
   @Scripts.Render("~/bundles/sdw.book")
}
