.details-label {
   font-weight: 600;
   margin-top: 5px;
   margin-bottom: 5px;
}

.pricing-table .title {
   background-color: #f2f2f2;
   font-weight: bold;
   color: black;
   padding: 10px;
}

.pricing-table .bullet-item {
   padding: 5px;
}

.autocomplete-suggestions { border: 1px solid #999; background: #FFF; overflow: auto; }
.autocomplete-suggestion { padding: 2px 5px; white-space: nowrap; overflow: hidden; }
.autocomplete-selected { background: #F0F0F0; }
.autocomplete-suggestions strong { font-weight: bold; color: #3399FF; }
.autocomplete-group { padding: 2px 5px; }
.autocomplete-group strong { display: block; border-bottom: 1px solid #000; }
