body, .button, h1, h2, h3, h4, h5, h6, .pricing-table .title {
   font-family: 'Merriweather', Helvetica, Arial, sans-serif;
}
@media only screen and (max-width: 40em) {
   body{ margin-top: 65px;}
   .contents > * {padding: 1.25rem;}
   .contents div > * {padding: 1.25rem;}
}

.pricing-table .title {
   background-color: #f2f2f2;
   font-weight: bold;
   color: black;
   padding: 10px;
}

.pricing-table .bullet-item {
   padding: 5px;
   line-height: 1.25rem;
}

.tab-bar {
   background-color: #E7E7E7;
   border: 1px #C7C7C7 solid;
}

.tab-bar h1, .tab-bar h2, .tab-bar h3, .tab-bar h4, .tab-bar h5, .tab-bar h6 {
   color: black;
   font-weight: normal;
}

.left-small {
   border-right: solid 1px #C7C7C7;
}

.right-small {
   border-left: solid 1px #C7C7C7;
}

.mLeft {margin-left: 1.125rem;}
.mRight {margin-right: 1.125rem;}

a.anchor {
   display: block;
   position: relative;
   top: -150px;
   visibility: hidden;
}

.reveal-modal {
   z-index: 2000;
}

.autocomplete-suggestions {
   border: 1px solid #999;
   background: #FFF;
   overflow: auto;
}

.autocomplete-suggestion {
   padding: 2px 5px;
   white-space: nowrap;
   overflow: hidden;
}

.autocomplete-selected {
   background: #F0F0F0;
}

.autocomplete-suggestions strong {
   font-weight: bold;
   color: #3399FF;
}

.autocomplete-group {
   padding: 2px 5px;
}

.autocomplete-group strong {
   display: block;
   border-bottom: 1px solid #000;
}

.contents {
   height: 100%;
   width: 100%;
   -ms-overflow-style: -ms-autohiding-scrollbar;
}
.contents > * {
   margin: 0 auto;
   display: block;
   padding: 0.5rem;
}
.contents div > * {
   margin: 0 auto;
   display: block;
   padding: 0.5rem;
}
.contents .subBook {
   width: auto;
   margin: auto;
   color: black;
   text-align: center;
   background: #e7e7e7;
   font-size: medium;
   border-bottom: 1px solid white;
}
.contents div .item {
   width: auto;
   margin: auto;
   float: none;
   color: black;
   font-size: small;
}
.contents .item {
   width: auto;
   margin: auto;
   float: none;
   color: black;
   font-size: small;
}
.contents .active {
   background: #c7c7c7;
}
.contents > a:hover {
   background: #c7c7c7;
}
.contents div > a:hover {
   background: #c7c7c7;
}

.small-bar-container {
   top: 0;
   left: 0;
   width: 100%;
   z-index: 3000;
   position: fixed;
}
.small-bar {
   width: 100%;
   z-index: 3001;
   background: #333333;
}
.small-bar h1 {
   line-height: 2.8125rem;
   font-size: 1.0625rem;
   margin: 0;
}
.small-bar i {
   line-height: 2.8125rem;
   font-size: 1.0625rem;
   margin: 0;
   color: #FFFFFF;
   cursor: pointer;
}
.small-bar h1 a {
   font-weight: normal;
   color: #FFFFFF;
   display: block;
   text-align: center;
   padding: 0 0.9375rem;
}

.side-menu {
   height: 100%;
   width: 100%;
   background: #333333;
   -ms-overflow-style: -ms-autohiding-scrollbar;
}
.side-menu > * {
   margin: 0 auto;
   display: block;
   padding: 1.0rem;
}
.side-menu .item {
   width: auto;
   margin: auto;
   float: none;
   color: white;
   font-size: 0.875rem;
   border-bottom: 1px solid black;
}
.side-menu > a:hover {background: #008CBA;}

.panels_overlay {
   position: fixed;
   background: #000000;
   background: rgba(0, 0, 0, 0.75);
   width: 100%;
   height: 100%;
   display: none;
   z-index: 999999;
   top: 0;
   left: 0;
   -webkit-transition: all 225ms ease;
   -moz-transition: all 225ms ease;
   transition: all 225ms ease;
   -webkit-animation-duration: 1s;
   animation-duration: 1s;
   -webkit-animation-fill-mode: both;
   animation-fill-mode: both;
   -webkit-animation-name: fadeIn;
   animation-name: fadeIn;
   cursor: pointer;
}
.panels_overlay.panels-open {display: block;}
@-webkit-keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}
@keyframes fadeIn {
   0% {opacity: 0;}
   100% {opacity: 1;}
}

/* General styles for all menus */
.cbp-spmenu{background: white;position: fixed;}
/* Orientation-dependent styles for the content of the menu */
.cbp-spmenu-vertical { top: 0;width: 240px;height: 100%;z-index: 4000;overflow: auto; }
.cbp-spmenu-horizontal {width: 100%;height: 150px;left: 0;z-index: 4000;overflow: hidden;}
/* Vertical menu that slides from the left or right */
.cbp-spmenu-left {left: -240px;}
.cbp-spmenu-right {right: -240px;}
.cbp-spmenu-left.panels-open {left: 0;}
.cbp-spmenu-right.panels-open {right: 0;}
/* Horizontal menu that slides from the top or bottom */
.cbp-spmenu-top {top: -150px;}
.cbp-spmenu-bottom {bottom: -150px;}
.cbp-spmenu-top.panels-open {top: 0;}
.cbp-spmenu-bottom.panels-open {bottom: 0;}
/* Push classes applied to the body */
.cbp-spmenu-push {overflow-x: hidden;position: relative;left: 0;}
.cbp-spmenu-push-toright {left: 240px;}
.cbp-spmenu-push-toleft {left: -240px;}
/* Transitions */
.cbp-spmenu, .panels_overlay, .cbp-spmenu-push {-webkit-transition: all 0.3s ease;-moz-transition: all 0.3s ease;transition: all 0.3s ease;}
/* Example media queries */
@media screen and (max-width: 55.1875em){
   .cbp-spmenu-horizontal {font-size: 75%;height: 110px;}
   .cbp-spmenu-top {top: -110px;}
   .cbp-spmenu-bottom {bottom: -110px;}
}
@media screen and (max-height: 26.375em){
   .cbp-spmenu-vertical {font-size: 90%;width: 190px;}
   .cbp-spmenu-left,.cbp-spmenu-push-toleft {left: -190px;}
   .cbp-spmenu-right {right: -190px;}
   .cbp-spmenu-push-toright {left: 190px;}
}
