@using SeekDeepWithin.Controllers
@model SeekDeepWithin.Models.ChapterHeaderViewModel

@{
   var style = string.Empty;
   if (Model.IsBold) { style += "font-weight:bold;"; }
   if (Model.IsItalic) { style += "font-style:italic;"; }
   var align = "text-center";
   if (Model.Justify == 0) { align = "text-left"; }
   if (Model.Justify == 2) { align = "text-right"; }
}
<div class="row">
   <div class="small-12 large-12 columns @align" style="@style">
      @Html.Raw(HtmlSanitizer.Sanitize (Model.Text))
   </div>
</div>
