@using SeekDeepWithin.Controllers
@model SeekDeepWithin.Models.ChapterFooterViewModel

<div class="row">
   <div class="small-12 large-12 columns">
      @if (Model.Number > 0) {
         <sup>(@Model.Number)</sup>
      }
      @Html.Raw(HtmlSanitizer.Sanitize (Model.Render()))
   </div>
</div>
