@{
    ViewBag.Title = "Create Role";
}

<h2>Add a new Role</h2>

@using (Html.BeginForm ())
{
   @Html.AntiForgeryToken()
   @Html.ValidationSummary(true)

   <fieldset>
      <div class="row">
         <div class="small-12 large-6 columns">
            @Html.Label("roleName", "Role Name")
            @Html.TextBox("roleName")
         </div>
      </div>
      <input type="submit" value="Save" class="button"/>
   </fieldset>
}
