@model string[]

@{
    ViewBag.Title = "Roles";
}
@section featured {
   <div class="panel">
      <div class="row">
         <div class="small-12 columns">
            <h3>
               Roles
            </h3>
         </div>
      </div>
   </div>
}
@Html.ActionLink("add", "Create") | @Html.ActionLink("assign", "Assign")

@if (Model.Length <= 0) {
   <h3>No roles defined!</h3>
} else {
   <ul>
   @foreach (var role in Model) {
      <li>@role @Html.ActionLink("Delete", "Delete", new { roleName = role })</li>
   }
   </ul>
}
