@{
   ViewBag.Title = "About";
}

<h3>@ViewBag.Title</h3>

<div class="row">
   <div class="small-12 large-8 columns">
      <p>
         The purpose of this site is to share the knowledge gained on the path that we all take. The knowledge is freely
         available, but at times it is not in a well defined format. At Seek Deep Within, we aim to solve this problem and
         attempt to link as much together as possible, because in the end, we will all reach the same goal.
      </p>

      <h4>Contact</h4>
      <p>For any questions, comments or concerns:</p>
      <a href="mailto:contact@seekdeepwithin.com">contact@seekdeepwithin.com</a>
   </div>

   <div class="small-12 large-4 columns">
      <!-- PAY PAL Donation -->
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
         <fieldset>
            <legend>Donate</legend>
            <p>If you like our purpose, please donate any amount of money to help keep the site up and running:</p>
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="encrypted" value="-----BEGIN PKCS7-----MIIHNwYJKoZIhvcNAQcEoIIHKDCCByQCAQExggEwMIIBLAIBADCBlDCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20CAQAwDQYJKoZIhvcNAQEBBQAEgYA2+G2BFp4xShoLw1jqE25V7Qj07AdpwnOS3f9iOSpz5hnQq3DI2BWdwLyea3UFSK3abkFxehHzTBVZNXrU9BmfyVO24nSYumgMtkJpK8XuclzMT3Oyv5R+EMemeCR1UfjJ/yi+X3H+PE7PVU80wtaiZu1PgUrzfJBar/EwtWVoKTELMAkGBSsOAwIaBQAwgbQGCSqGSIb3DQEHATAUBggqhkiG9w0DBwQIMkA3fKGAyimAgZD/NRPC5zgFWbhWnrBhMFUkv8ilmXI83y2/14lRG6JIcpyBVs0EK69YGUei+FVrhHnW7gAYEu8+gU8dxI9tEPmqXWf4KsIzX+vURVLbXBDnVsp5hUTDiz+TrXfwt9CmIQrzgWvVKjkkNriZ5RlSdQA2OCtzlzgnB9JM8vqY/OitWdT8y1PrAex27lf2KmHYLlqgggOHMIIDgzCCAuygAwIBAgIBADANBgkqhkiG9w0BAQUFADCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wHhcNMDQwMjEzMTAxMzE1WhcNMzUwMjEzMTAxMzE1WjCBjjELMAkGA1UEBhMCVVMxCzAJBgNVBAgTAkNBMRYwFAYDVQQHEw1Nb3VudGFpbiBWaWV3MRQwEgYDVQQKEwtQYXlQYWwgSW5jLjETMBEGA1UECxQKbGl2ZV9jZXJ0czERMA8GA1UEAxQIbGl2ZV9hcGkxHDAaBgkqhkiG9w0BCQEWDXJlQHBheXBhbC5jb20wgZ8wDQYJKoZIhvcNAQEBBQADgY0AMIGJAoGBAMFHTt38RMxLXJyO2SmS+Ndl72T7oKJ4u4uw+6awntALWh03PewmIJuzbALScsTS4sZoS1fKciBGoh11gIfHzylvkdNe/hJl66/RGqrj5rFb08sAABNTzDTiqqNpJeBsYs/c2aiGozptX2RlnBktH+SUNpAajW724Nv2Wvhif6sFAgMBAAGjge4wgeswHQYDVR0OBBYEFJaffLvGbxe9WT9S1wob7BDWZJRrMIG7BgNVHSMEgbMwgbCAFJaffLvGbxe9WT9S1wob7BDWZJRroYGUpIGRMIGOMQswCQYDVQQGEwJVUzELMAkGA1UECBMCQ0ExFjAUBgNVBAcTDU1vdW50YWluIFZpZXcxFDASBgNVBAoTC1BheVBhbCBJbmMuMRMwEQYDVQQLFApsaXZlX2NlcnRzMREwDwYDVQQDFAhsaXZlX2FwaTEcMBoGCSqGSIb3DQEJARYNcmVAcGF5cGFsLmNvbYIBADAMBgNVHRMEBTADAQH/MA0GCSqGSIb3DQEBBQUAA4GBAIFfOlaagFrl71+jq6OKidbWFSE+Q4FqROvdgIONth+8kSK//Y/4ihuE4Ymvzn5ceE3S/iBSQQMjyvb+s2TWbQYDwcp129OPIbD9epdr4tJOUNiSojw7BHwYRiPh58S1xGlFgHFXwrEBb3dgNbMUa+u4qectsMAXpVHnD9wIyfmHMYIBmjCCAZYCAQEwgZQwgY4xCzAJBgNVBAYTAlVTMQswCQYDVQQIEwJDQTEWMBQGA1UEBxMNTW91bnRhaW4gVmlldzEUMBIGA1UEChMLUGF5UGFsIEluYy4xEzARBgNVBAsUCmxpdmVfY2VydHMxETAPBgNVBAMUCGxpdmVfYXBpMRwwGgYJKoZIhvcNAQkBFg1yZUBwYXlwYWwuY29tAgEAMAkGBSsOAwIaBQCgXTAYBgkqhkiG9w0BCQMxCwYJKoZIhvcNAQcBMBwGCSqGSIb3DQEJBTEPFw0xMzAxMjMxNjAwMDVaMCMGCSqGSIb3DQEJBDEWBBQdF5aDDk3JLweJSL0B6Wni4P6QrzANBgkqhkiG9w0BAQEFAASBgEohhyd8NvGCcW/xijrj6dSmMGiTBgs+4jrVRgooSOb9/oK89jmSALZWKPJ0Mv6WqRTfRjPYLnfh9MEq9vnghQsn47Uc/GIY+6yO+QkUZGbRWYTQL/f0LK/inazjtHU/n5LwE5eMsEOsizYJKmAjBROKyrEt1wc5DFa8kgAFGfD7-----END PKCS7-----">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
         </fieldset>
      </form>
   </div>
</div>