<input type="hidden" value="index" id="pageId"/>
@if (User.IsInRole ("Editor")) {
   <input type="hidden" id="editable"/>
}
<div class="row column text-center mTopBig">
   <em style="font-size: 24pt;">Seek, and ye shall find...</em>
</div>
<div class="row column">
   <input type="search" placeholder="Search" id="searchText"/>
</div>
<div class="row column text-center mBottom">
   <em>Let your Heart be your guide</em>
</div>
<div id="lightList"></div>
<div id="truthArea"></div>
@if (User.IsInRole ("Editor")) {
   <div class="row mTop mBottom">
      <div class="small-12 medium-4 medium-offset-4 large-4 large-offset-4 column">
         <a href="javascript:void(0);" onclick="sdw.love();" class="sdw-button white expand">Load More</a>
      </div>
   </div>
   if (User.IsInRole ("Creator")) {
       <div class="row">
          <div class="small-12 medium-9 large-10 column">
             <input type="text" id="textNewLight" />
          </div>
          <div class="small-12 medium-3 large-2 column">
             <a href="javascript:void(0);" onclick=" SdwEdit.lightCreate(); " class="sdw-button white small expand">New Light</a>
          </div>
       </div>
    }
   <ul class="tabs" data-tabs id="editTabs">
      <li class="tabs-title is-active"><a href="#editTruth" aria-selected="true">Edit Current</a></li>
      <li class="tabs-title"><a href="#addTruth">Add to Selected</a></li>
   </ul>
   <div class="tabs-content" data-tabs-content="editTabs">
      @(Html.Partial ("_EditTruth"))
      @(Html.Partial ("_AddTruth"))
   </div>
}
@if (User.IsInRole ("Editor")) {
   @section scripts  {
      @(Scripts.Render ("~/bundles/sdw/edit"))
   }
}
