@if (User.IsInRole ("Creator")) {
   <div class="hide" id="divNewLight">
      <div class="group section">
         <div class="col span_2_of_12 push"></div>
         <div class="col span_8_of_12 mNone">
            <textarea id="textNewLight" rows="2" class="mNone"></textarea>
         </div>
      </div>
      <div class="group section">
         <div class="col span_2_of_12 push"></div>
         <div class="col span_4_of_12 mNone">
            <a href="javascript:createLight();" class="sdw-button reg small expand">Create</a>
         </div>
         <div class="col span_4_of_12 mNone">
            <a href="javascript:void(0);" onclick="$('#divNewLight').velocity('slideUp', { duration: 500 });" class="sdw-button err small expand">Cancel</a>
         </div>
      </div>
   </div>
}
<div class="group section tCenter" style="padding: 2.125rem 0">
   <span style="font-size: 24pt; font-style: italic; font-weight: 300;">Seek, and ye shall find...</span>
</div>
<div class="group section">
   <div class="col span_3_of_12 push"></div>
   <div class="col span_6_of_12">
      <input type="text" />
   </div>
</div>
<div class="group section tCenter" id="lightList">
</div>
<div class="group section tCenter" id="lightLinks">
</div>
@if (User.IsInRole ("Creator")) {
   <div class="hide" id="divNewTruth">
      <div class="group section">
         <div class="col span_4_of_12 push"></div>
         <div class="col span_1_of_12 mNone">
            <a href="javascript:formatTruth();" class="sdw-button reg tiny expand">Format</a>
         </div>
         <div class="col span_1_of_12 mNone">
            <a href="javascript:createTruth();" class="sdw-button reg tiny expand">Create</a>
         </div>
         <div class="col span_1_of_12 mNone">
            <a href="javascript:void(0);" onclick="hideAddTruth();" class="sdw-button err tiny expand">Cancel</a>
         </div>
         <div class="col span_1_of_12 mNone">
            <a href="javascript:void(0);" onclick="newTruth();" class="sdw-button add tiny" id="btnNewTruth">New Truth</a>
         </div>
      </div>
      <div class="group section">
         <div class="col span_6_of_12 mNone">
            <textarea id="textNewTruth" rows="8" class="mNone"></textarea>
         </div>
         <div class="col span_6_of_12 mNone" id="formattedTruth">
         </div>
      </div>
   </div>
   <a href="javascript:void(0);" onclick="showAddTruth();" class="sdw-button add tiny hide" id="btnAddTruth">
      <i class="icon-plus-sign"></i> Add Truth
   </a>
}