<input type="hidden" value="index" id="pageId"/>
@if (User.IsInRole ("Editor")) {
   <input type="hidden" id="editable"/>
}
<div class="row column text-center mTopBig">
   <em style="font-size: 24pt;">Seek, and ye shall find...</em>
</div>
<div class="row column text-center mBottom">
   <em>Let your Heart be your guide</em>
</div>
@if (User.IsInRole ("Creator")) {
   <div class="row">
      <div class="small-12 medium-9 large-10 column">
         <input type="text" id="textNewLight" />
      </div>
      <div class="small-12 medium-3 large-2 column">
         <a href="javascript:void(0);" onclick="SdwEdit.lightCreate();" class="sdw-button white small expand"><i class="icon-lightbulb-idea"></i> New Light</a>
      </div>
   </div>
}
<div class="row" id="lightList"></div>
<div id="lightWeb"></div>
<div id="truthArea"></div>
@if (User.IsInRole ("Editor")) {
   <ul class="tabs" data-tabs id="editTabs">
      <li class="tabs-title is-active"><a href="#editTruth" aria-selected="true">Edit Current</a></li>
      <li class="tabs-title"><a href="#addTruth">Add to Selected</a></li>
   </ul>
   <div class="tabs-content" data-tabs-content="editTabs">
      @(Html.Partial ("_EditTruth"))
      @(Html.Partial ("_AddTruth"))
   </div>
}
<div id="sandbox" class="hide"></div>
@if (User.IsInRole ("Editor")) {
   @section scripts  {
      @(Scripts.Render ("~/bundles/sdw/edit"))
   }
}
