@using SeekDeepWithin.Pocos
<div class="section group" id="truth">
   <div class="col span_3_of_12">
      <select>
         @{
            var values = Enum.GetValues (typeof (TruthType)).Cast<TruthType> ();
            foreach (var value in values) {
               <option value="@((int)value)">@(value.ToString())</option>
            }
         }
      </select>
   </div>
   <div class="col span_2_of_12">
      <input type="number" id="number"/>
   </div>
   <div class="col span_2_of_12">
      <input type="number" id="order" />
   </div>
   <div class="col span_4_of_12">
      <input type="text" id="text" />
   </div>
   <div class="col span_1_of_12">
      <a href="javascript:void(0)" onclick="removeTruth(this);" title="Remove" class="sdw-button err tiny expand"><i class="icon-remove-sign"></i></a>
   </div>
</div>