@model SeekDeepWithin.Models.SourceViewModel

@{
    ViewBag.Title = "Edit Source";
}

@Html.Partial("_SourceForm")

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
