@model IEnumerable<SeekDeepWithin.Models.SourceViewModel>

@{
    ViewBag.Title = "Sources";
}
<h3>Sources</h3>
<dl>
@foreach (var item in Model) {
   <dt>
      @if (Request.IsAuthenticated && User.IsInRole ("Editor")) {
         @Html.ActionLink(item.Name, "Edit", new {id = item.Id})
      } else {
         @item.Name
      }
   </dt>
   <dd>
      @Html.DisplayFor(modelItem => item.Url) <a href="@item.Url" target="_blank"><i class="icon-newtab"></i></a>
   </dd>
}
</dl>
